.message_img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    float: left;
}
.message_delete img{
    width: 15px;
    height: 15px;

}
.message_delete{
    background: none;
    border: none;
}
.item-content {
    width: 100%;
    height: 100%;
    float: left;
    min-width: var(--minSize);
    border: 5px solid #EDF0F5;
    background: #EDF0f5;
    position: relative;
}
.message_info {
    margin-left: 10px;
    font-size: 12.5px;
    float: left;
    color: #42648b;
    font-weight: 700;

    -webkit-font-smoothing: antialiased;
}
.item {
    display: block;
    position: absolute;
    margin: 10px;
    z-index: 1;
    width: 250px;
    height: var(--height);
}
.item.muuri-item-dragging {
    z-index: 3;
}
.item.muuri-item-releasing {
    z-index: 2;
}
.item.muuri-item-hidden {
    z-index: 0;
}
.message_text {
    margin-left: 46px;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif;
}

.invisible {
    visibility: hidden;
}
.grid {
    width: calc(100vw - 50px);
    position: relative;
}
.settings {
    position: fixed;
    width: 300px;
    height: 700px;
    overflow-y: auto;
    top: 21px;
    right: 0px;
    background: grey;
    transition: 1s;
    border-radius: 50px 0px 0px 50px;
    text-align: center;
}