body {
    margin: 0;
}
.message_img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    float: left;
}
.message_delete img{
    width: 15px;
    height: 15px;

}
.message_delete{
    background: none;
    border: none;
}
.item-content {
    width: 100%;
    height: 100%;
    float: left;
    border: 5px solid #EDF0F5;
    background: #EDF0f5;
    position: relative;
}
.message_info {
    margin-left: 10px;
    font-size: 12.5px;
    float: left;
    color: #42648b;
    font-weight: 700;
    filter: var(--VarBlur);
    -webkit-font-smoothing: antialiased;
}
.item {
    display: block;
    position: absolute;
    margin-left: var(--gap_X);
    margin-right: var(--gap_X);
    margin-top: var(--gap_Y);
    margin-bottom: var(--gap_Y);
    z-index: 1;
    width: var(--sizeX);
    height: var(--height);
}
.item.muuri-item-dragging {
    z-index: 3;
}
.item.muuri-item-releasing {
    z-index: 2;
}
.item.muuri-item-hidden {
    z-index: 0;
}
.message_text {
    margin-left: 46px;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif;
}

.invisible {
    visibility: hidden;
}
.grid {
    width: var(--gridWidth);
    position: absolute;
    transition: transform 1s;
}
.wrapper {
    width: var(--gridWidth);
    position: relative;
    transform: translate(var(--TXGrid), 0px);
    transition: transform 1s;
    height: calc(100% - 80px);
}
.settings {
    position: fixed;
    width: 300px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    top: 80px;
    left: 0px;
    background-color: #3A4E65;
    transition: transform 1s;
    border-radius: 0px 0px 50px 0px;
    border: 2px black;
    text-align: center;
}
.muuri-item-placeholder{
    border: 4px dashed black;
}
.header{
    background-color: #3A4E65;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.Title {
    position: absolute;
    color: white;
    margin: 0;
    left: calc((100vw - 243px) / 2);
    margin-top: 25px;
}
.setbut {
    position: fixed;
    left: 20px;
    top: 15px;
    width: 50px;
    height: 50px;
    border: 0;
    background: 0;
    padding: 0;
    z-index: 1000;
}
.setbut:focus{
     outline: 0;
 }
.setbut:hover{
    cursor: pointer;
}
.blurbut {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 200px;
    border: 0;
    background: 0;
    position: relative;
}
.blurbut:focus {
    outline: 0;
}
.blur_icon{
    position: absolute;
    left: 5px;
    bottom: 1px;
    filter: invert(var(--BlurInvert));
}
.text_icon{
    position: absolute;
    left: 5px;
    bottom: 1px;
    filter: invert(var(--TextInvert));
}
#slider_gapX{
    width: 200px;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 8px;
}
#slider_gapY{
    width: 200px;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 8px;
}
#slider_size{
    width: 200px;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 8px;
}
#slider_Textsize{
    width: 200px;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 8px;
}
.noUi-handle:before, .noUi-handle:after{
    background: 0;
}
.noUi-handle:focus{
    outline: 0;
}
.noUi-handle {
    border-radius: 50%;
    width: 20px!important;
    height: 20px!important;
    top: -2px!important;
    right: -10px!important;
    border: 3px solid black;
    box-shadow: none;
}
html, body {
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    overflow: auto;
}
.draggable-mirror{
    transform: translate3d(var(--mirx), var(--miry), 0px)!important;
}
.draggable-source--is-dragging{
    opacity: 0;
}
.text_div{
    z-index: 100;
    border: 2px dashed black;
}

.selected_text {
    border: 2px solid dodgerblue !important;
}

.selected_text .resizer {
    visibility: visible !important;
}

.text_div .resizer {
    width: 10px;
    height: 10px; 
    background: blue; 
    position: absolute; 
    right: 0; 
    bottom: 0; 
    cursor: se-resize;
    visibility: hidden;
}
.text_inp{
    width: 100%;
    background: transparent;
    height: 100%;
    border: 0;
    resize: none;
    padding: 0;
    overflow: hidden;
    font-size: var(--TextSize);
}
.text_inp:focus{
    outline: 0;
}
#delTbut{
    margin-top: 10px;
    display: block;
    width: 170px;
    margin-left: 65px;
    height: 40px;
    background: 0;
    border: 0;
    position: relative;
}
.trash_icon{
    left: -10px;
    bottom: 5px;
    position: absolute;
}